body {
  font-family: var(--body-font);
  margin: 0;
  padding: 0;
}

.fullPageHome {
  background-color: var(--base-white-color);
  padding: 2rem 7rem;
  display: flex;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.left {
  width: 75%;
}

.right {
  width: 39%;
}

.title_container {
  font-size: var(--h6-font-size);
  background-color: var(--base-white-color);
  border-radius: 25px;
  padding: 5px 10px;
  display: inline-block;
  width: 35%;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-weight: var(--font-medium);
}

.home_container {
  background-color: #ffeedd;
  border-radius: 25px;
  padding: 1.3rem 3rem;
  height: 265px;
}

.home_title {
  font-size: 3.7rem;
  font-weight: var(--font-medium);
  margin: 0;
}

.home_subtitle {
  font-weight: var(--font-medium);
  margin: 0;
}

.btn_auth {
  display: flex;
  float: right;
  gap: 15px;
  margin-top: 20px;
}

.btn_login {
  font-size: var(--h4-font-size);
  background-color: var(--base-white-color);
  border: none;
  border-radius: 25px;
  padding: 10px 15px;
}

.column_services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.block_service {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: var(--second-color);
  border-radius: 25px;
  box-sizing: border-box;
  width: calc(50% - 15px); /* Ajusté pour deux blocs par ligne */
  height: 180px;
  padding: 20px; /* Ajoutez du padding si nécessaire pour le contenu interne */
}

.block_service.ameublement,
.block_service.blanchisserie {
  width: calc(50% - 15px); /* Les rend plus larges */
}

.block_service.pressing,
.block_service.retouches {
  width: calc(40% - 15px); /* Les rend moins larges */
}

.title_service_block {
  position: relative;
  z-index: 900;
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  text-transform: uppercase;
  width: auto;
}

.block_service svg {
  padding: 0.3rem;
  z-index: 500;
}

.background_block {
  z-index: 1; /* Assurez-vous que cela ne met pas les SVG au-dessus du titre par accident */
}

.title_service {
  z-index: 2; /* Plus élevé pour s'assurer que le titre est au-dessus des SVG */
}

/* Coin supérieur gauche */
.block_service .svg-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 190px;
}

/* Autres coins */
.block_service .svg-top-left,
.block_service .svg-top-right,
.block_service .svg-bottom-left,
.block_service .svg-bottom-right {
  position: absolute;
  z-index: 1;
}

/* Autres coins spécifiques */
.block_service .svg-top-left {
  top: 0;
  left: 0;
  height: 6rem;
}

.block_service .svg-top-right {
  top: 0;
  right: 0;
  height: 85px;
}

.block_service .svg-bottom-left {
  bottom: 0;
  left: 0;
  height: 70px;
}

.block_service .svg-bottom-right {
  bottom: 0;
  right: 0;
  height: 70px;
  width: 80px;
}

.service_container_left {
  width: 55%;
  background-color: var(--blue-color);
  border-radius: 25px;
  padding: 20px;
  max-height: 550px;
}

.title_container_service {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.container_left_right_top {
  display: flex;
  height: 250px;
  flex: 1;
}

.info_container_top {
  background-color: var(--first-color);
  border-radius: 25px;
  padding: 10px 15px;
  flex: 1;
  margin-bottom: 20px;
}

.title_info {
  font-size: var(--h5-font-size);
  text-align: center;
}

.info_list {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.info_item {
  text-align: center;
}

.info_item_list {
  margin: 0;
  font-size: var(--h6-font-size);
}

.info_item_list i {
  font-size: 24px;
  margin-right: 10px;
}

.btn_more {
  font-size: var(--h6-font-size);
  background-color: var(--base-white-color);
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
  float: right;
  margin-bottom: 0.4rem;
}

.container_img_bottom img {
  display: flex;
  border-radius: 25px;
  height: 230px;
  width: 100%;
}

.container_middle {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
}

.right.column {
  display: flex;

  align-items: flex-start;
  margin: 0;
}

.news_container {
  background-color: var(--first-color);
  border-radius: 25px;
  padding: 10px 15px;
  height: 450px;
  width: 100%;
}

.news_container i {
  margin-right: 10px;
  float: right;
  font-size: var(--h6-font-size);
  color: black;
  background-color: var(--base-white-color);
  border-radius: 50%;
  padding: 10px;
}

.news_title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: var(--h4-font-size);
}

.news_list {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
}

.news_item {
  margin-bottom: 1rem;
}

.steps_news {
  font-size: var(--h6-font-size);
  margin: 0;
}

.infos_times_news {
  font-size: var(--h5-font-size);
  text-align: center;
  margin-bottom: 1.5rem;
}

.svg-container {
  margin-left: 3rem;
  height: 2rem;
  padding: 0;
  width: 2.5rem;
  transform: rotate(90deg);
}

.testimonial_container {
  background-color: #ffeedd;
  border-radius: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.title_and_arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.title_and_arrows i {
  float: right;
  font-size: var(--h6-font-size);
  color: black;
  background-color: var(--base-white-color);
  border-radius: 50%;
  padding: 10px;
}

.testimonial_customers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial_customers img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.name_testimonial {
  font-size: var(--h5-font-size);
  font-weight: var(--font-medium);
  margin: 6px 0;
}

.date_testimonial {
  font-size: 0.85rem;
  font-weight: var(--font-semi-bold);
  margin: 0;
}

.description_testimonial {
  margin: 10px 5;
}

.description {
  font-size: var(--h6-font-size);
  font-style: italic;
}

.testimonial_stars {
  font-size: var(--h5-font-size);
  color: var(--orange-color);
}

@media screen and (min-width: 320px) and (max-width: 575px) {
  .fullPageHome {
    flex-direction: column;
    padding: 1rem;
  }

  .row {
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .home_container {
    width: 100%;
    padding: 1.5rem;
    height: 430px;
  }

  .home_title {
    font-size: 2.2rem;
  }

  .home_subtitle {
    font-size: 1.3rem;
  }

  .btn_auth {
    justify-content: center;
    width: 100%;
  }

  .btn_login {
    font-size: 1.2rem;
  }

  .service_container_left {
    width: 100%;
  }

  .title_container {
    width: 50%;
  }

  .column_services {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
  }

  .block_service {
    width: 100%;
  }

  .block_service.ameublement,
  .block_service.blanchisserie,
  .block_service.pressing,
  .block_service.retouches {
    width: 100%;
  }

  .right.column {
    width: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 777px) {
  .fullPageHome {
    padding: 2rem;
    flex-direction: column;
  }

  .left {
    width: 100%;
  }

  .right{
    width: 100%;
  }

  .home_container {
    width: 100%;
    padding: 1.5rem;
    height: 430px;
  }

  .home_title {
    font-size: 2.7rem;
  }

  .home_subtitle {
    font-size: 1.4rem;
  }

  .btn_auth {
    justify-content: center;
    width: 100%;
  }

  .btn_login {
    font-size: 1.2rem;
    width: 100%;
  }

  .service_container_left {
    width: 50%;
    overflow: hidden;
  }

  .column_services {
    overflow: auto;
    height: 100%;
    max-height: 400px;
  }

  .block_service.ameublement,
  .block_service.blanchisserie,
  .block_service.pressing,
  .block_service.retouches {
    width: 100%;
  }
}

@media screen and (min-width: 778px) and (max-width: 990px) {
  .fullPageHome {
    padding: 2rem;
  }

  .home_container {
    width: 100%;
    padding: 1.5rem;
    height: 340px;
  }

  .home_title {
    font-size: 2.8rem;
  }

  .home_subtitle {
    font-size: 1.3rem;
  }

  .btn_auth {
    justify-content: center;
    width: 100%;
  }

  .btn_login {
    font-size: 1.2rem;
    width: 100%;
  }

  .service_container_left {
    width: 50%;
    overflow: hidden;
  }

  .title_container {
    width: 60%;
  }

  .column_services {
    overflow: auto;
    height: 100%;
    max-height: 400px;
  }

  .block_service.ameublement,
  .block_service.blanchisserie,
  .block_service.pressing,
  .block_service.retouches {
    width: 100%;
  }
}

@media screen and (min-width: 991px) and (max-width: 1150px) {
.left{
  width: 100%;
}

.right{
  width: 100%;
}
}