/* Style pour la liste des catégories */
.category-list {
  display: flex;
  gap: 2rem;
  width: 80%;
}

/* Style pour chaque catégorie */
.category {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 100%; /* Ajustez cette valeur selon vos besoins */
}

/* Style pour le titre de la catégorie */
.category-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Style pour la liste d'articles */
.article-list {
  list-style-type: none;
  padding: 0;
}

/* Style pour chaque article */
.article {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;

  align-items: center;
}

/* Style pour le nom de l'article */
.article-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.article-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligner les textes à gauche */
}

.article-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-name {
  flex: 1;
}

/* Style pour les boutons d'ajout et de soustraction */
.quantity-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity-button:hover {
  background-color: #0056b3;
}
.container {
  display: flex;
  justify-content: space-between;
}

.order-summary {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 300px; /* Ajustez selon votre mise en page */
}

.order-summary h2 {
  margin-top: 0;
}

.order-summary ul {
  list-style-type: none;
  padding: 0;
}

.order-summary li {
  margin-bottom: 10px;
}
