@import "../../styles/vars.css";

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.fullHeader {
  font-family: var(--body-font);
  padding: 2rem 7rem;
  display: flex;
  align-items: center; /* Ajoutez cette ligne pour centrer verticalement */
  justify-content: space-between; /* Assurez-vous que le logo et le menu sont répartis aux extrémités du conteneur */
}

.navbar-nav {
  display: flex;
  justify-content: flex-start; /* Centrer les liens dans le nav */
  width: 100%; /* Assurez-vous que le nav prend toute la largeur pour centrer correctement les éléments */
  margin-left: 4rem;
}

.header_logo {
  z-index: 3;
}

.navbar-nav a {
  color: var(--text-color);
  margin: 0 10px;
  padding: 2px;
  font-size: var(--h5-font-size);
}

.navbar-nav a:hover {
  font-weight: var(--font-medium);
}

.nav_cta {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav_link_cta {
  font-size: var(--h5-font-size);
  color: black;
  background-color: var(--first-color);
  border-radius: 25px;
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  flex-shrink: 0; /* Empêche le CTA de réduire sa taille */
  padding: 0.7rem 1rem;
}

.svg-cta {
  margin: 0;
  padding: 0;
  width: 1.5rem;
}

.svg-cta path {
  fill: var(--first-color);
}

.nav_cta .ri-arrow-right-line {
  background-color: var(--first-color);
  border-radius: 25px;
  padding: 1rem 1rem;
  font-size: var(--h6-font-size);
}
