.fullPageContentCategory {
  padding: 2rem 7rem;
  display: flex;
  justify-content: flex-start;
}

.container_category {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem; /* Espacement entre le bouton "Retour" et les autres divs */
}



.nav_back {
  display: flex;
  align-items: center;
  margin-left: auto;

}

.nav_link_back {
  font-size: var(--h5-font-size);
  color: black;
  font-weight: 400;
  background-color: var(--first-color);
  border-radius: 25px;
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
  flex-shrink: 0; /* Empêche le CTA de réduire sa taille */
  padding: 0.7rem 1rem;
  cursor: pointer;
}

.svg-cta {
  margin: 0;
  padding: 0;
  width: 1.5rem;
}

.svg-cta path {
  fill: var(--first-color);
}

.nav_cta .ri-arrow-right-line {
  background-color: var(--first-color);
  border-radius: 25px;
  padding: 1rem 1rem;
  font-size: var(--h6-font-size);
}

.category-list {
  margin-right: 1rem;
  background-color: var(--second-color);
  padding: 0rem 2rem 2rem 2rem;
  border-radius: 25px;
}

.order-summary {
  margin-left: 1rem;
}

.category {
  border-radius: 10px;
  cursor: pointer;
}

.category h2 {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.category-title {
  background-color: #c2d6a3; /* Replace with the actual color code from your image */
  padding: 5px 25px;
  border-radius: 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.nb_article {
  font-size: 0.9rem;
}

.category-selected {
  border-color: #000; /* Or any color you prefer */
}

.article-list {
  list-style-type: none;
  padding: 0;
}

.article {
  background-color: #d9e4c3; /* Article background color */
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.article-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-name {
  display: block;
  margin-bottom: 10px; /* Espacement entre le nom et les boutons */
  text-align: center;
}

.article-info {
  display: flex;
  flex-direction: column;
}

.article-container {
  background-color: #c2d6a3; /* Couleur de fond verte pour la div générale */
  padding: 10px;
  border-radius: 10px;
  padding: 0rem 2rem 2rem 2rem;
}

.articles-grid {
  display: flex;
  flex-direction: column;
}

.article-card {
  flex: 1 1 200px;
  text-align: center;
  background-color: #fff; /* Fond blanc pour les cartes */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère pour les cartes */
  width: calc(33.333% - 10px); /* Trois cartes par ligne avec l'espacement */
}

.articles-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Ajustez l'espacement entre les articles */
  margin-top: 20px; /* Espace entre le header_box et les articles */
}

.article-price {
  text-align: center;
}

.quantity-button {
  background-color: #a9bf8f; /* Couleur pour les boutons */
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.quantity-button:hover {
  background-color: #98ad80; /* A slightly darker shade for hover effect */
}

.quantity-control {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-display {
  background-color: #f0f0f0; /* Fond pour la quantité */
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  min-width: 30px; /* Pour s'assurer que la div ne se rétrécisse pas */
  text-align: center;
}

.header_box {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.header_box h4 {
  font-weight: 500;
}

.header_box h3 {
  font-weight: 500;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
}

.order-summary {
  background-color: var(--first-color);
  padding: 0rem 2rem 2rem 2rem;
  border-radius: 25px;
}

.order-summary h3 {
  float: right;
  font-weight: 500;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
}

.header_price {
  font-size: 2rem;
}
